<div {{ attributes }}>
    {{ this.info.modified }}
    {{ this.info.path }}

    <pre>{{ this.info.debugOutput }}</pre>
    <button
            data-action="live#$render"
    >Generate a new number!</button>
</div>